:root {
    --blue: #5863F8
}
:root {
    --poppins: 'Poppins', sans-serif
}
.bg-image {
    background-image: url(../images/image1.jpg);
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px 0 30px;
    margin-bottom: 50px;
}
.section-wraper {
    max-width: 1100px;
    width: 100%;
    height: 185px;
    margin: 0 auto;
}
.header {
    max-width: 1100px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav-ul {
    max-width: 680px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 25px;
}
.navi {
    max-width: 600px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.list {
    font-size: 17px;
    color: #FFFFFF;
    font-family: var(--poppins);
    text-transform: uppercase;
}
.list:hover {
    color: #5863F8;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.burger {
    font-size: 35px;
    color: #FFFFFF;
    display: none;
}
.burger:hover {
    color: #5863F8;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.about {
    width: 211px;
    height: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 70px;
}
.header-contact {
    color: #FFFFFF;
    font-size: 42px;
    font-family: var(--poppins);
    font-weight: bolder;
}
.header-about {
    color: #FFFFFF;
    height: 20px;
    font-size: 18px;
    font-family: var(--poppins);
}
.divider {
    width: 1px;
    height: 19px;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
}
.iframe {
    max-width: 1100px;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}
.map {
    margin-bottom: 50px;
}
.section-header {
    width: 115px;
    height: 30px;
    color: #5863F8;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--poppins);
    text-transform: uppercase;
}
.description {
    max-width: 400px;
    width: 100%;
    height: 100px;
    font-size: 46px;
    font-family: var(--poppins);
    font-weight: bolder;
}
.contact {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.mid-sec {
    padding: 50px 20px 0 30px;
}
.form {
    max-width: 1100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}
.left-block {
    max-width: 610px;
    width: 100%;
    height: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mssg1 {
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
    color: #445EC3;
    font-family: var(--poppins);
    font-size: 18px;
    outline: none;
    border: none;
    border-style: solid;
    border-radius: 1px;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
    margin-right: 30px;
}
.right-block {
    max-width: 470px;
    width: 100%;
    height: 288px;
}
.input-element {
    max-width: 470px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-left: 25px;
    color: #445EC3;
    font-family: var(--poppins);
    font-size: 18px;
    outline: none;
    border: none;
    border-style: solid;
    border-radius: 1px;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
}
.input-element::-webkit-input-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 16px;
    /* padding-top: 25px;
    padding-left: 25px; */
}
.input-element::-moz-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 16px;
    /* padding-top: 25px;
    padding-left: 25px; */
}
.input-element:-ms-input-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 16px;
    /* padding-top: 25px;
    padding-left: 25px; */
}
.input-element::-ms-input-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 16px;
    /* padding-top: 25px;
    padding-left: 25px; */
}
.input-element::placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 16px;
    /* padding-top: 25px;
    padding-left: 25px; */
}
.mssg1::-webkit-input-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 18px;
}
.mssg1::-moz-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 18px;
}
.mssg1:-ms-input-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 18px;
}
.mssg1::-ms-input-placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 18px;
}
.mssg1::placeholder {
    color: #CECECE;
    font-family: var(--poppins);
    font-size: 18px;
}
.button {
    max-width: 500px;
    width: 100%;
    height: 60px;
    background-color: #5863F8;
    color: #FFFFFF;
    font-size: 18px;
    font-family: var(--poppins);
    border: none;
}
.info {
    max-width: 1100px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.box {
    max-width: 300px;
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 50px;
}
.blue-icon {
    width: 60px;
    height: 60px;
    background-color: var(--blue);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
}
.box-header {
    width: 80px;
    height: 25px;
    font-family: var(--poppins);
    font-size: 20px;
    margin-bottom: 15px;
}
.info-ul {
    max-width: 290px;
    width: 100%;
    height: 45px;
    color: #B1B1B1;
    font-size: 14px;
}
.last-sec {
    width: auto;
    height: 637px;
    margin: 0 auto;
}
.description:nth-child(2) {
    max-width: 565px;
    width: 100%;
    height: 155px;
    font-family: var(--poppins);
}
.image-wraper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}
.image-wraper img {
    width: auto;
}
.contact {
    padding-top: 50px;
}
.footer {
    width: auto;
    height: 395px;
    background-color: #121212;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px 0 10px;
}
.footer-wraper {
    max-width: 1100px;
    width: 100%;
    height: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 60px;
}
.icon-wraper {
    width: 110px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box1 {
    width: 260px;
    height: 191px;
}
.par {
    width: 260px;
    height: 83px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #B1B1B1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-div {
    height: 155px;
}
.footer-div:nth-child(3) {
    width: 190px;
    height: 155px;
}
.box-header1 {
    color: #FFFFFF;
    font-size: 20px;
    font-family: var(--poppins);
    margin-bottom: 20px;
}
.list-a {
    color: #5863F8;
    font-size: 16px;
    margin-bottom: 10px;
}
.list-b {
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: var(--poppins);
}
.div-wraper {
    max-width: 620px;
    width: 100%;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.icon {
    margin-right: 10px;
}
.div-a {
    max-width: 950px;
    width: 100%;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 5px;
}
.div-a p {
    width: auto;
    color: #B1B1B1;
    font-size: 14px;
    font-family: var(--poppins);
}
.div-a p:nth-child(2) {
    width: auto;
    font-size: 14px;
    color: var(--blue);
    font-family: var(--poppins);
}
.div-a p span {
    color: var(--blue);
}
.list-b img {
    margin-right: 10px;
}
